<div class="ibox">
    <div class="ibox-content">
        <form [formGroup]="scheduleForm">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nombre de la busqueda:</label>
                <div class="col-md-6"><input formControlName="nameSearch" type="text" class="form-control"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Establecer fecha:</label>
                <div class="col-md-6 input-daterange input-group">
                    <input type="text" class="form-control-sm form-control" name="start" id="startdate" /> &nbsp;&nbsp;
                    <div>hasta</div> &nbsp;
                    <input type="text" class="form-control-sm form-control" name="end" id="enddate" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Frecuencia:</label>
                <div class="col-md-3">
                    <select formControlName="frequencyControl" class="form-control m-b">
                        <option [value]="item" *ngFor="let item of frequency; let i = index">{{item}}</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
