<div class="ibox-content full-height d-flex justify-content-center" style="height: 500px;">
    <div class="row loading-image">
        <div class="col-lg-12 conteiner-loading">
            <div class="loadingimage">
                <div class="spinner-border spinner-loading" style="width: 7rem; height: 7rem;" role="status">
                </div>
            </div>
            <br>
            <div class="loadingtext">
                <span class="span-loading">Buscando...</span>
            </div>
        </div>
    </div>
</div>