<div class="ibox-content full-height d-flex justify-content-center" style="height: 500px;">
    <div class="row loading-image">
        <div class="col-lg-12 conteiner-loading">
            <div class="card text-black bg-light mb-3 card-error" style="max-width: 18rem;">
                <div class="card-body">
                    <div class="infont col-md-3 col-sm-4">
                        <a href="#"><i class="fa fa-bug fixed-service"></i>
                        </a>
                    </div>
                    <h5 class="card-title">Servicio no disponible</h5>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>